<connectionStrings>
  <clear />
  <add name="connExcel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES';" />
  <add name="ConnectionString" connectionString="Data Source=SERVER;Initial Catalog=TABELA;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
</connectionStrings>

